<div ng-controller="TodoListCtrl as ctrl">

  <div class="col-md-3 unassigned">
    <h3>Todo</h3>
    <todo-list todos="ctrl.byStatus.Unassigned" ctrl="ctrl"
               next-status="'Assigned'"
               next-status-label="'Start'"
               btn-color="'default'"></todo-list>
  </div>

  <div class="col-md-3 assigned">
    <h3>Doing</h3>
    <todo-list todos="ctrl.byStatus.Assigned" ctrl="ctrl"
               next-status="'Done'"
               next-status-label="'Complete'"
               btn-color="'default'"></todo-list>
  </div>

  <div class="col-md-3 done">
    <h3>Done</h3>
    <todo-list todos="ctrl.byStatus.Done" ctrl="ctrl"></todo-list>
  </div>

  <div ng-if="ctrl.task" class="col-md-3 details">
    <h3>Details</h3>
    <h4>{{ctrl.task.title}}</h4>
    <p>{{ctrl.task.description}}</p>
    <p>{{ctrl.task.status}}</p>
    <button class="btn btn-default" ng-click="ctrl.task = null">Close</button>
  </div>

</div>
