<div ng-controller="TodoListCtrl as ctrl">

  <div class="col-md-3">
    <h3>Todo</h3>
    <ul>
      <li ng-repeat="task in ctrl.byStatus.Unassigned track by task.id">
        <h4><a href="javascript://" ng-click="ctrl.show(task)">{{task.title}}</a></h4>
        {{task.description}}
        <button class="btn btn-default" ng-click="ctrl.changeStatus(task, 'Assigned')">+</button>
      </li>
    </ul>
  </div>

  <div class="col-md-3">
    <h3>Doing</h3>
    <ul>
      <li ng-repeat="task in ctrl.byStatus.Assigned track by task.id">
        <h4><a href="javascript://" ng-click="ctrl.show(task)">{{task.title}}</a></h4>
        {{task.description}}
        <button class="btn btn-primary" ng-click="ctrl.changeStatus(task, 'Done')">Done</button>
      </li>
    </ul>
  </div>

  <div class="col-md-3">
    <h3>Done</h3>
    <ul>
      <li ng-repeat="task in ctrl.byStatus.Done track by task.id">
        <h4><a href="javascript://" ng-click="ctrl.show(task)">{{task.title}}</a></h4>
        {{task.description}}
      </li>
    </ul>
  </div>

  <div ng-if="ctrl.task" class="col-md-3" style="border-left:3px solid #ddd">
    <h3>Details</h3>
    <h4>{{ctrl.task.title}}</h4>
    <p>{{ctrl.task.description}}</p>
    <p>{{ctrl.task.status}}</p>
    <button class="btn btn-default" ng-click="ctrl.task = null">Close</button>
  </div>

</div>
